<div class="container-fluid pt-5 pb-5">
    <div class="container">
        <p><img src="assets/icon/email.png" alt="" class="email"> <input type="text"></p>
        <div class="row">
            <div class="col">
                <p class="text">Copyright &copy; 2014 Two Bytes Consulting. <span class="terms">Terms & Policies.</span>
                </p>
            </div>
            <div class="col d-flex justify-content-end" style="align-items: center;">
                <!-- <span>Tweet</span><span>692</span><span>Like</span><span>117</span> -->
                <div class="icon">
                    <img src="assets/icon/twitter.png" alt="" class="img"> Tweet
                </div>
                <div class="bubble">692</div>

                <div class="icon">
                    <img src="assets/icon/facebook.png" alt="" class="img"> Like
                </div>
                <div class="bubble">117</div>
            </div>
        </div>
    </div>
</div>