<div class="container-fluid">
    <div class="container">
        <div class="row" style="padding: 0 50px;">
            <div class="col-4">
                <h3 class="nav-head">Demo App</h3>
            </div>
            <div class="col-8">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profile">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Employers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>