.upper {
    position: absolute;
}

.itallic {
    font-style: italic;
}

.fheading {
    font-weight: 500;
    font-size: 30px;
    color: rgb(245, 133, 133);
}

.images {
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
}

.lower {
    position: relative;
    padding: 13% 10% 3% 16%;
}

.location {
    display: inline-block;
    margin-left: 12%;
}

.searchBtn {
    padding: 4px 20px;
}

.searchImg {
    width: 20px;
    height: 20px;
    filter: hue-rotate(180deg) saturate(200%);
}

.gray {
    background-color: gainsboro;
}

.findOutMore {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ruler {
    position: relative;
    top: 20px;
    border: none;
    width: 15%;
    height: 4px;
    background: rgb(1, 184, 250);
    margin-bottom: 50px;
}

.mailContainer {
    background-color: rgb(2, 29, 49);
    color: white;
}

.form-group {
    background-color: rgb(2, 29, 49);
    border: 3px solid rgb(41, 136, 230);
}

.emailInput {
    background-color: rgb(2, 29, 49);
    border: none;
    width: 90%;
    display: inline-block;
    outline: none;
    color: white;
}

.emailImg {
    height: 30px;
    width: 30px;
    filter: brightness(0) invert(1);
}

/* PopUp Model */
.modal-header {
    background-color: rgb(36, 166, 252);
    height: 50px;
}

.close-btn {
    height: 25px;
    width: 25px;
}

.demo {
    height: 400px;
}

.profile-cart {
    max-width: 120px;
    max-height: 120px;
    padding: 5px;
    background-color: rgb(232, 232, 231);
}

.profile-img {
    width: 100%;
    max-height: 110px;
    object-fit: cover;
    cursor: pointer;
}

.profile-text {
    font-weight: 500;
    font-size: 12px;
    color: rgb(41, 136, 230);
    margin: 5px auto;
    text-align: center;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: red;
}

.badge {
    margin-right: 5px;
}